@font-face {
    src: url(Fonts/Mulish-VariableFont_wght.ttf);
    font-family: Mulish;
}

@font-face {
    src: url(Fonts/Philosopher-Bold.ttf);
    font-family: Philosopher;
}

@font-face {
    src: url(Fonts/Laurel_wreath.ttf);
    font-family: Laurel;
}

html {
  margin: 0;
  overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: Mulish, verdana, serif;
    font-size: clamp(0.8rem, 3vw, 3rem);
    margin-top: 0;
}

.laurel {
    font-family: Laurel;
    font-size: clamp(2.5rem, 8vw, 10rem);
    font-weight: 200;
}

h1 {
    font-family: Philosopher, helvetica, serif;
    letter-spacing: 5px;
    font-size: clamp(2.5rem, 8vw, 10rem);
    margin-bottom: 10px;
}

nav {
    color: black;
    background-color: lightblue;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

#landing_page {
    color: ivory;
    text-align: center, center;
    position: relative;
    outline: 2px solid red;
    height: 100vh;
    top: 0;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#landing_page video {
    position: absolute;
    object-position: center, center;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title_content {
    position: absolute;
    
    object-position: center, center;
    background-color: rgb(0,0,0, 0.3);
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    
}



#projects_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;

    background-color: ghostwhite;
}

#about_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

#experience_timeline {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;

    background-color: ghostwhite;
}

#contact_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

footer {
    color: black;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}



