@font-face {
    src: url(Fonts/Mulish-VariableFont_wght.ttf);
    font-family: Mulish;
}

@font-face {
    src: url(Fonts/Philosopher-Bold.ttf);
    font-family: Philosopher;
}

@font-face {
    src: url(Fonts/Laurel_wreath.ttf);
    font-family: Laurel;
}

html {
    margin: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


p {
    font-family: Mulish, verdana, serif;
    font-size: clamp(0.8rem, 3vw, 3rem);
    margin-top: 0;
}

.laurel {
    font-family: Laurel;
    font-size: clamp(2.5rem, 8vw, 10rem);
    font-weight: 200;
}


h1 {
    margin: 0;

    font-family: Philosopher, helvetica, serif;
    letter-spacing: 5px;
    font-size: clamp(1.5rem, 8vw, 10rem);
    margin-bottom: 10px;

    white-space: nowrap;
}

h2 {
    margin: 0;
    padding: 30px;

    text-align: left;
    padding-left: 3%;
    font-size: 2.5em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    z-index: 100;

    font-size: clamp(0.4em, 2em, 2.5em);
}

nav ul{
    list-style:none;
    display: flex;

    gap: 1rem;
    margin:0;
    padding: 1rem 2rem;

}

nav a {
    color: #1C1C1C;
    text-decoration: none;
}

a:visited {color: inherit;}

nav a:hover{color:#2F5D8C}



section {
    color: #1C1C1C;
    text-align: center;

    position: relative;

    padding: 0;
    
    outline: 2px solid #2F5D8C;
    height: 100vh;

    background-color: #F7F6F3;
}

#landing_page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#title_content {
    
    object-position: center;

    width: 80%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}


#projects_page {}

#experience_timeline {}

#contact_page {}



