@font-face {
    src: url(Fonts/Mulish-VariableFont_wght.ttf);
    font-family: Mulish;
}

@font-face {
    src: url(Fonts/Philosopher-Bold.ttf);
    font-family: Philosopher;
}

@font-face {
    src: url(Fonts/Laurel_wreath.ttf);
    font-family: Laurel;
}

html {
  margin: 0;
  overscroll-behavior: none;

  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

p {
    font-family: Mulish, verdana, serif;
    font-size: clamp(0.8rem, 3vw, 3rem);
    margin-top: 0;
}

.laurel {
    font-family: Laurel;
    font-size: clamp(2.5rem, 8vw, 10rem);
    font-weight: 200;
}

h1 {
    font-family: Philosopher, helvetica, serif;
    letter-spacing: 5px;
    font-size: clamp(1.5rem, 8vw, 10rem);
    margin-bottom: 10px;

    white-space: nowrap;
}

h2 {
    text-align: left;
    padding-left: 3%;
    font-size: 2.5em;
}

nav {
    position: fixed;
    right: 0;
    
    z-index: 100;

    font-size: clamp(0.4em, 2em, 2.5em);
    
    width: 35%;
    display: flex;
    flex-direction: row;
}

nav a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 1vh;
    margin-right: 0.1em;

    color: #1C1C1C;

    padding: 0.75rem 0.5rem;
    text-decoration: none;
}

a:visited {color: inherit;}

nav a:hover{color: #2F5D8C}

#landing_page {
    color: #1C1C1C;
    text-align: center, center;
    position: relative;
    outline: 2px solid #2F5D8C;
    height: 100vh;
    top: 0;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #F7F6F3 
}

#title_content {
    position: absolute;
    
    object-position: center, center;

    width: 80%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}





#projects_page {
    color: #1C1C1C;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
    
    position: relative;
    
    outline: 2px solid #2F5D8C;
    height: 100vh;

    background-color: #F7F6F3;
}

#experience_timeline {
    color: #1C1C1C;
    text-align: center;
    
    padding-top: 30px;
    padding-bottom: 30px;
    
    position: relative;
    
    outline: 2px solid #2F5D8C;
    height: 100vh;

    background-color: #F7F6F3
}

#contact_page {
    color: #1C1C1C;
    text-align: center;
    
    padding-top: 30px;
    padding-bottom: 30px;
    
    position: relative;
    
    outline: 2px solid #2F5D8C;
    height: 100vh;

    background-color: #F7F6F3;
}



