body {
    margin:0;

}

nav {
    background-color: lightblue;
    text-align: center;
    color: white;
    padding: 10px;
}

#landing_page {
    color: white;
    text-align: center;
    padding: 30px;
}

#projects_page {
    color: white;
    text-align: center;
    padding: 30px;
}

#about_page {
    color: white;
    text-align: center;
    padding: 30px;
}

#experience_timeline {
    color: white;
    text-align: center;
    padding: 30px;
}

#contact_page {
    color: white;
    text-align: center;
    padding: 30px;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 10px;

}







#landing_background {
    position: fixed;
    z-index: -1;
    left:0;
    top:0;
}
@media (min-aspect-ratio: 16/9) {
    #landing_background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #landing_background {
        width:a uto;
        height: 100%;
    }
}

#landing_content{
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    color: #000000;
    width: 40%;
    padding: 10PX;
    margin: auto;
}


